* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1622117130713-87c13cf4a39a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

header {
    background-color: black;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}

header span {
    font-size: 50px;
    font-weight: bold;
}
header h1 {
    font-size: 30px;
}
  
header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
  
header nav li {
    padding: 0 20px;
}
  
header nav li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    
}

.art1 {
    padding: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}
.art2 {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.art3 {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

}
main img {
    height: 300px;
    width: 450px;
    border-radius: 25%;
}

main h1,h2,h3 {
    font-size: 65px;
    color: blanchedalmond;
    text-decoration: none;
}

main p {
    font-size: 40px;
    color: aliceblue;
}


@media only screen and (max-width: 600px) {
    nav {
        font-size: 25px;
    }
    header span h1{
        font-size: 25px;
    }
