.game-container {
    width: 400px;
    height: 400px;
    border: 1px solid black;
  }
  .player {
    width: 50px;
    height: 50px;
    background-image: url("https://www.pngfind.com/pngs/m/680-6807590_world-war-ii-the-national-wwii-museum-ww2.png");
    /* background-color: red; */
    background-size: 50px 50px;
    position: relative;
  }
  
  .lives {
    width: 30px;
    height: 30px;
    border: 1px solid black;  
    background-image: url("https://thumbs.dreamstime.com/b/heart-icon-sign-symbol-color-website-design-mobile-app-development-simple-element-ui-collection-isolated-black-160920177.jpg");
    background-size: 30px 30px;
  }

  .obs{
    width: 80px;
    height: 80px;
    /* border: 1px solid black;   */
    position: relative;
    background-image: url("https://mpng.subpng.com/20171216/e17/bomb-png-5a3580138049f9.9559720615134556355255.jpg");
    background-size: 80px 80px;
  }

  .lives-container {
      display: flex;
  }

  .hidden {
    visibility: hidden;
  }